.race-information-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex: 1;
}

.race-information {
  flex: 1;
  overflow-y: auto;

  h3 {
    font-weight: 700;
  }

  h4 {
    padding-left: 4px;
    font-weight: 600;
  }
}

.lap-information {
  border: 1px solid #d3d3d3;
  background-color: #eee;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
  }

  th,
  td {
    background-color: #fff;
    padding: 4px;
    font-size: small;
  }

  th {
    text-align: left;
    font-weight: bold;
    color: #333;
  }
}
